@use "@/styles/variables" as *;

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.toastBanner {
  top: -24px !important;
  right: 0 !important;
  z-index: 100 !important;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  align-items: stretch;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  gap: 28px;
  background: $background;
  border-radius: 24px;
}

.footerDate {
  font-family: 'Trip Sans', sans-serif;
  font-weight: 400;
  font-size: $font-size-15;
  line-height: 170%;
  color: $gray-600;
  
  strong {
    font-weight: 500;
    color: #FF7029; /* Using the orange color from the design */
  }
}

.footerActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.reassignBtn, .createProposalBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  border-radius: 32px;
  font-family: 'Trip Sans', sans-serif;
  font-weight: 500;
  font-size: $font-size-lg;
  line-height: 150%;
  cursor: pointer;
  transition: opacity 0.2s;
  flex: 1;
  max-width: 708px;
  
  &:hover {
    opacity: 0.9;
  }
}

.reassignBtn {
  background: $gray-50;
  border: 1px solid rgba(102, 107, 109, 0.1);
  color: $gray-700;
}

.createProposalBtn {
  background: $primary;
  border: 1px solid rgba(102, 107, 109, 0.1);
  color: $background;
}

.stars {
  color: #FACC15; /* Yellow */
}

.whiteIcon {
  filter: brightness(0) invert(1);
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
