@use "@/styles/variables" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.columnsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
  min-width: 0;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
  min-width: 0;
}
