@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  background: white;
}

.heroSection {
  margin-bottom: 0;
}

.galleryWrap {
  @include container;
  padding: 0;
  position: relative;
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 64px;
}