@use "@/styles/variables" as *;

.idCell {
  font-weight: 700;
  color: $gray-700;
}

.dateCell {
  color: $text-light;
}

.priceCell {
  font-weight: 500;
}

.agentCell {
  color: $gray-600;
}

.actionCell {
  text-align: right;
}


