@use "@/styles/variables" as *;

.option {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}

.optionName {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $dark;
}

.optionFree {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: #15C023;
}

.optionPrice {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $dark;
}
