@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  min-height: 100vh;
  background: $white;
}

.container {
  @include container;
  padding: 0 $spacing-lg;

  @media (min-width: 1024px) {
    padding: 0;
  }
}

.pageHeader {
  padding-bottom: 20px !important;
}

.heroSection {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    margin-bottom: 180px;
  }
}

.galleryWrap {
  @include container;
  position: relative;
}

.heroOverlay {
  position: relative;
  z-index: 10;

  @media (min-width: 1024px) {
    position: absolute;
    margin: 0;
    bottom: 0px;
    left: calc(40px + (100% - 80px - 148px) / 2);
    width: calc(100% - 80px - 148px - 32px);
    max-width: 999px;
    transform: translate(-50%, 50%);
  }
}