@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fullRow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customLabel {
  font-weight: 700;
  font-size: $font-size-sm;
  color: #344054;
  margin-bottom: 0.25rem;
}

.phoneLabel {
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: 1.25rem;
  color: $gray-600;
}

.countrySelectWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.countersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.counterColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.counterWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  flex: 1;
}

.counterLabelWrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  white-space: nowrap;
}

.counterLabel {
  font-weight: 700;
  font-size: $font-size-sm;
  color: $dark;
  white-space: nowrap;
}

.counterHint {
  font-weight: 500;
  font-size: $font-size-xs;
  color: $text-light;
}

.datePickerTrigger {
  cursor: pointer;
  width: 100%;
}

.iconOverlay {
  cursor: pointer;
}

.errorText {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4px;
  margin: -4px 0 0 0;
  
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-xs;
  line-height: 16px;
  color: #C11515;
}
