@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -$navbar-height-desktop;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: $dark;
}

.container {
  @include container;
  position: relative;
  z-index: 10;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 8rem;
}

.content {
  max-width: 600px;
  padding-left: 18px;
  margin-bottom: $spacing-3xl;
  text-align: left;
  align-self: flex-start;
}

.heading {
  color: $white;
  font-size: 110px;
  font-weight: $font-weight-medium;
  line-height: 1.05;
  margin-bottom: $spacing-md;
}

.subheading {
  color: $white;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: $spacing-xl;
}