@use "@/styles/variables" as *;

.tabsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 32px;
  width: 100%;
  height: 88px;
  background: $background;
  border-radius: 24px;
  box-sizing: border-box;
}

.tabsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #F3F3F3;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  flex: 1;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.tab.active {
  border-bottom: 2px solid $primary;
}

.tabText {
  font-weight: 400;
  font-size: $font-size-lg;
  line-height: 21px;
  text-align: center;
  color: #979797;
  transition: color 0.2s ease-in-out;
}

.tab.active .tabText {
  font-weight: 700;
  color: $primary;
}
