@use "@/styles/variables" as *;

.idCell {
  font-weight: 500;
  color: $gray-700;
}

.priceCell {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.currencyIcon {
  font-size: $font-size-19;
  font-weight: 600;
  color: $text-light;
  flex-shrink: 0;
  line-height: 1;
}

.servicePill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  padding: 4px 12px;
  border-radius: 96px;
  font-size: 0.75rem;
  font-weight: 500;
}

.statusPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: 5.25rem;
  height: 1.75rem;
  padding: 4px 12px;
  border-radius: 128px;
  font-size: 0.75rem;
  font-weight: 500;

  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.mice {
  color: #c043ff;
  background: rgba(206, 109, 255, 0.1);
}
.trips {
  color: #1a84ff;
  background: #e4f2ff;
}
.transport {
  color: #ff627b;
  background: rgba(251, 147, 163, 0.2);
}
.hotels {
  color: #ea580c;
  background: #ffedd5;
}

.cancelled {
  color: $danger;
  background: $background-danger-light;
  &::before {
    background: $danger;
  }
}
.pending {
  color: #f59e0b;
  background: $status-warning-bg;
  &::before {
    background: #f59e0b;
  }
}
.confirmed {
  color: $success;
  background: #d1fae5;
  &::before {
    background: $success;
  }
}
