@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  background: white;
}

.heroSection {
  margin-bottom: 0;
}

.galleryWrap {
  @include container;
  position: relative;
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media (max-width: 1024px) {
    gap: 48px;
  }

  @media (max-width: 600px) {
    gap: 32px;
  }
}