@use "@/styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  min-width: 0;
  padding: 1rem 1.5rem;
  background: $white;
  border-radius: 1.5rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.blue .icon {
  background: #e9f1fc;
}
.orange .icon {
  background: rgba(255, 102, 0, 0.08);
}
.pink .icon {
  background: #fff5ef;
}
.purple .icon {
  background: #f5f3ff;
}
.green .icon {
  background: #e9f6f0;
}
.gray .icon {
  background: $gray-50-tailwind;
}
.red .icon {
  background: #FFF2F2;
}

.label {
  color: $gray-400;
  font-size: $font-size-base;
  font-weight: 500;
  line-height: 1.375;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.value {
  color: $dark;
  font-size: $font-size-32;
  font-weight: 700;
  line-height: 1.375;
}

.trend {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 28px;
  padding: 4px 8px;
  border-radius: 84px;
  font-size: $font-size-xs;
  font-weight: 500;
  line-height: 18px;
  color: #0c9d61;
  background: #f2faf6;

  &.down {
    color: #dc2626;
    background: $background-danger;
  }

  &.neutral {
    color: #525252;
    background: $gray-100-zinc;
  }
}

.customBadgeIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1500px) {
  .card {
    padding: 1rem 1.25rem;
    border-radius: 1.25rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
  .label {
    font-size: $font-size-base;
  }
  .value {
    font-size: $font-size-28;
  }
  .trend {
    height: 24px;
    padding: 2px 6px;
    font-size: $font-size-2xs;
  }
}

@media (max-width: 1024px) {
  .card {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
  }
  .top {
    gap: 0.5rem;
  }
  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .label {
    font-size: $font-size-15;
  }
  .value {
    font-size: $font-size-2xl;
  }
}
