.tableWrapper {
  width: 100%;
}

.cellText {
  font-family: 'Trip Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #6B7280;
}

.cellTextBold {
  font-family: 'Trip Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #353E5C;
}
