@use "@/styles/variables" as *;

.tableWrapper {
  width: 100%;
}

.cellText {
  font-weight: 500;
  font-size: $font-size-13;
  color: $text-light;
}

.cellTextBold {
  font-weight: 700;
  font-size: $font-size-13;
  color: #353E5C;
}
