@use "@/styles/variables" as *;

.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  position: relative;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 875 1 0;
  min-width: 0;
}

.sideColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 708 1 0;
  min-width: 0;
}

.whiteTabs {
  background-color: #FFFFFF !important;
}

@media (max-width: 1200px) {
  .page {
    flex-direction: column;
  }
  
  .sideColumn {
    flex: 1;
    width: 100%;
  }
}

.toastBanner {
  top: -24px !important;
  right: 0 !important;
  z-index: 100 !important;
}
