@use "@/styles/variables" as *;

.donutWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.legendCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 28px;
  gap: 40px;
  background: #F8FAFF;
  border-radius: 24px;
  width: 100%;
  max-width: 404px;
}

.legendColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
}

.legendText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendValue {
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: 24px;
  color: #1F2937;
}

.legendLabel {
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: 20px;
  color: $gray-400;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .donutWrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .legendCard {
    justify-content: center;
  }
}
