.page {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.toastBanner {
  top: -24px !important;
  right: 0 !important;
  z-index: 100 !important;
}
