@use "@/styles/variables" as *;

.tableWrapper {
  width: 100%;
}

.compactTable {
  table {
    min-width: 0 !important;
  }
  
  th, td {
    padding: 0.5rem 0.5rem !important;
  }
}

.cellText {
  font-weight: 500;
  font-size: $font-size-13;
  color: #353E5C;
}
