.tableWrapper {
  width: 100%;
}

.compactTable {
  table {
    min-width: 0 !important;
  }
  
  th, td {
    padding: 0.5rem 0.5rem !important;
  }
}

.cellText {
  font-family: 'Trip Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #353E5C;
}
