@use "@/styles/variables" as *;

.idCell {
  font-weight: 700;
  color: $gray-700;
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  height: 1.875rem;
  padding: 0.25rem 0.75rem;
  border-radius: 6rem;
  font-size: $font-size-xs;
  font-weight: 500;
  white-space: nowrap;
  width: 95px;

  i {
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 1px;
  }
}

.statusQualified {
  color: #A855F7;
  background: #F4E9FF;
  i {
    background: #A855F7;
  }
}

.statusClosed {
  color: #DF3451;
  background: #FFEDF0;
  i {
    background: #DF3451;
  }
}

.statusContacted {
  color: $secondary;
  background: #FFF0E6;
  i {
    background: $secondary;
  }
}

.statusNew {
  color: $primary;
  background: #F1F8FF;
  i {
    background: $primary;
  }
}

.statusConverted {
  color: #16A34A;
  background: $status-success-bg;
  i {
    background: #16A34A;
  }
}
