@use "@/styles/variables" as *;

.langTabs {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  gap: 4px;
  background: $gray-50;
  border-radius: 32px;
  align-self: flex-start;
}

.langTabsWhite {
  background: $background;
}

.langTab {
  padding: 0 16px;
  height: 40px;
  border-radius: 32px;
  border: none;
  background: transparent;
  font-size: $font-size-lg;
  font-weight: 400;
  color: $gray-400-zinc;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;

  &:hover:not(.langTabActive) {
    color: $text-light;
  }
}

.langTabActive {
  background: $primary;
  color: $background;
  font-weight: 500;
}
