.langTabs {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  gap: 4px;
  background: #F9FAFB;
  border-radius: 32px;
  align-self: flex-start;
}

.langTabsWhite {
  background: #FFFFFF;
}

.langTab {
  padding: 0 16px;
  height: 40px;
  border-radius: 32px;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: #A3A3A3;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;

  &:hover:not(.langTabActive) {
    color: #6B7280;
  }
}

.langTabActive {
  background: #2971E6;
  color: #fff;
  font-weight: 500;
}
