@use "@/styles/variables" as *;

.page {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  min-height: 100dvh;
  padding: 1rem;
  background: #f4f7fd;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1 1 auto;
  min-width: 0;
  min-height: calc(100dvh - 2rem);
}

@media (max-width: 1180px) {
  .page {
    flex-direction: column;
  }
}

.draftBanner {
  top: 13rem !important;
  right: 2rem !important;
  z-index: 100 !important;
}
