@use "@/styles/variables" as *;

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1620px;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.draftBanner {
  top: 13rem !important;
  right: 2rem !important;
  z-index: 100 !important;
}

.typePill {
  display: inline-flex;
  align-items: center;
  padding: 0.85rem 2rem;
  border-radius: 6rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  background: #E4F2FF;
  color: $primary;
}


/* Main Layout Grid */
.contentGrid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 679px;
  gap: 12px;
}

/* Card Styles */
.cardSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 18px;
  background: $background;
  border-radius: 24px;
  width: 100%;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.headerIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: $dashboard-expandable-hover;
  border-radius: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}

.cardTitle {
  font-weight: 500;
  font-size: $font-size-28;
  color: #11263B;
  margin: 0;
}

/* Card Content List */
.detailsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detailItemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  border-bottom: 1px solid $gray-25-slate;
}

.detailItemRowNoBorder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  width: 100%;
}

.detailItemCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0 0 0;
  gap: 12px;
  width: 100%;
}

.detailLabel {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: $font-size-sm;
  color: $gray-400-zinc;
}

.detailValue {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: $font-size-lg;
  color: $gray-700;
}

.detailDescValue {
  font-weight: 500;
  font-size: $font-size-lg;
  line-height: 1.4;
  color: $gray-700;
}

.pillGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  margin-top: 10px;
}

.appliesPill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
  background: #E4F2FF;
  border-radius: 96px;
  height: 32px;

  span {
    font-weight: 400;
    font-size: $font-size-xs;
    color: $primary;
  }

  img, svg {
    width: 18px;
    height: 18px;
  }
}
