@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as *;

.tabNav {
  position: sticky;
  top: 72px; // Mobile navbar height
  z-index: 50;
  background: transparent;

  @media (min-width: 1150px) {
    top: $navbar-height-desktop;
  }
}

.inner {
  @include container;
  display: flex;
}