@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as *;

.tabNav {
  position: sticky;
  top: 72px; // Mobile navbar height
  z-index: 50;
  background: $white;

  @media (min-width: 1150px) {
    top: 0; // Navbar is absolute now, so no offset needed
  }
}

.inner {
  @include container;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}