@use "@/styles/variables" as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background: $white;
  border-radius: 1.5rem;
  min-width: 0;
  height: 100%;
}

.heatmapContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.rowLabel {
  width: 80px;
  flex-shrink: 0;
  font-size: $font-size-sm;
  font-weight: 400;
  color: $gray-400-zinc;
  padding-right: 12px;
}

.monthLabelRow {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.monthLabel {
  flex: 1;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-size: $font-size-xs;
  color: $gray-400-zinc;
  padding-top: 8px;
}

.block {
  flex: 1;
  height: 30px;
  border-radius: 4px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}

.level1 {
  background: #EBE9FE;
}

.level2 {
  background: #9B8AFB;
}

.level3 {
  background: #3E1C96;
}

/* Legend */
.legendArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.legendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 80px;
}

.legendLabel {
  font-size: $font-size-sm;
  color: $gray-500-zinc;
}

.legendColor {
  width: 100%;
  height: 12px;
  border-radius: 4px;
}
